
body {
    background-color: #fcffee;
  }


hr {
    border: 15px #FF7D7D;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
  }

/* ******TEXT STYLING******* */
h1 {
  font-family: 'Public Sans' serif;
  font-weight: 700;
}
